{% load static %}
<div class="cartmini__area">
    <div class="cartmini__wrapper p-relative d-flex justify-content-between flex-column">
        <div class="cartmini__close">
            <button class="cartmini__close-btn cartmini-close-btn" type="button">
                <i class="fal fa-times"></i>
            </button>
        </div>
        <div class="cartmini__top-wrapper">
            <div class="cartmini__top p-relative">
                <div class="cartmini__top-title">
                    <h4>سبد خرید</h4>
                </div>
            </div>
            {% if cart_courses|length > 0 %}
            <div class="cartmini__widget">
                {% for course in cart_courses %}
                <div class="cartmini__widget-item">
                    <div class="cartmini__thumb">
                        <a href="{{ course.get_absolute_url }}">
                            <img alt="" src="{{ course.thumbnail.url }}">
                        </a>
                    </div>
                    <div class="cartmini__content">
                        <h5 class="cartmini__title home-2"><a href="{{ course.get_absolute_url }}">{{ course.name }}</a></h5>
                        <div class="cartmini__price-wrapper">
                            <span class="cartmini__price home-2">{{ course.get_final_price }} تومان</span>
                        </div>
                    </div>
                    <a class="cartmini__del home-2" href="index-6.html#"><i class="fa-regular fa-xmark"></i></a>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="cartmini__empty text-center">
                <img alt="" src="{% static 'img/shop/empty-cart.png' %}">
                <p>سبد خرید شما خالی است</p>
                <a class="tp-btn" href="#">برو به فروشگاه</a>
            </div>
            {% endif %}
        </div>
        <div class="cartmini__checkout">
            <div class="cartmini__checkout-title mb-30">
                <h4>زیرنویس:</h4>
                <span>
                    {% if total_price > 0 %}{{ total_price }} تومان{% else %}رایگان{% endif %}</span>
            </div>
            <div class="cartmini__checkout-btn home-2">
                <a class="tp-btn mb-10 w-100" href="#">مشاهده سبد خرید</a>
                <a class="tp-btn tp-btn-border w-100" href="#">پرداخت</a>
            </div>
        </div>
    </div>
</div>