<footer>
    <div class="tp-footer-main tp-footer-inner pt-80 pb-55">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-3 col-md-6 col-sm-6">
                    <div class="tp-footer-widget tp-footer-col-1 mb-30">
                        <div class="tp-footer-widget-logo mb-20 tp-header-logo"><a href="index.html"><img alt=""
                                    src="assets/img/logo/logo-black-2.png"></a></div>
                        <div class="tp-footer-widget-content">
                            <p>بهترین شرکت راه اندازی استارت آپ دیجیتال در جهان<br>نابغه آدیپیسک.</p>
                        </div>
                        <div class="tp-footer-contact"><span>سوالاتی دارید؟ با ما تماس بگیرید</span> <a
                                href="tel:012345678">+670 413 90 762</a></div>
                        <div class="tp-footer-contact-mail"><a href="mailto:sofial@gmail.com"><span><svg fill="none"
                                        height="16" viewbox="0 0 18 16" width="18" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M1 5C1 2.2 2.6 1 5 1H13C15.4 1 17 2.2 17 5V10.6C17 13.4 15.4 14.6 13 14.6H5"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="10" stroke-width="1.5"></path>
                                        <path
                                            d="M13 5.40039L10.496 7.40015C9.672 8.05607 8.32 8.05607 7.496 7.40015L5 5.40039"
                                            stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-miterlimit="10" stroke-width="1.5"></path>
                                        <path d="M1 11.4004H5.8" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
                                        </path>
                                        <path d="M1 8.19922H3.4" stroke="currentColor" stroke-linecap="round"
                                            stroke-linejoin="round" stroke-miterlimit="10" stroke-width="1.5">
                                        </path>
                                    </svg> </span>acadia@gmail.com</a></div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6">
                    <div class="tp-footer-widget tp-footer-col-2 mb-30">
                        <h4 class="tp-footer-widget-title mb-15">در مورد</h4>
                        <div class="tp-footer-widget-link">
                            <ul>
                                <li><a href="about.html">درباره ما</a></li>
                                <li><a href="course-with-filter.html#">دوره</a></li>
                                <li><a href="course-with-filter.html#">اخبار و وبلاگ ها</a></li>
                                <li><a href="course-with-filter.html#">معلم شوید</a></li>
                                <li><a href="course-with-filter.html#">وقایع</a></li>
                                <li><a href="course-with-filter.html#">تماس بگیرید</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-5">
                    <div class="tp-footer-widget tp-footer-col-3 mb-30">
                        <h4 class="tp-footer-widget-title mb-15">لینک های سریع</h4>
                        <div class="tp-footer-widget-link">
                            <ul>
                                <li><a href="course-with-filter.html#">دانش آموزان</a></li>
                                <li><a href="course-with-filter.html#">اضافه شدن</a></li>
                                <li><a href="course-with-filter.html#">هیئت علمی و کارکنان</a></li>
                                <li><a href="course-with-filter.html#">روابط رسانه ای</a></li>
                                <li><a href="course-with-filter.html#">فارغ التحصیلان</a></li>
                                <li><a href="course-with-filter.html#">بازدید کنید</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-3 col-md-7 col-sm-7">
                    <div class="p-footer-widget tp-footer-5-col-4 mb-30">
                        <h4 class="tp-footer-widget-title mb-15">خبرنامه ما</h4>
                        <div class="tp-footer-newsletter-wrap">
                            <p>ایمیل خود را وارد کنید تا برایتان ارسال کنیم<br>اطلاعات بیشتر</p>
                            <form action="course-with-filter.html#">
                                <div class="tp-footer-newsletter-wrapper tp-footer-inner-input mb-30">
                                    <div class="tp-footer-newsletter-input"><input placeholder="ایمیل شما" type="email">
                                    </div>
                                    <div class="tp-footer-5-newsletter-submit"><button class="tp-btn-inner">مشترک
                                            شوید</button></div>
                                </div>
                            </form>
                            <div class="tp-footer-newsletter-social tp-footer-inner-social"><a class="social-fb"
                                    href="course-with-filter.html#"><i class="fa-brands fa-facebook-f"></i></a> <a
                                    class="social-twit" href="course-with-filter.html#"><i
                                        class="fa-brands fa-twitter"></i></a> <a class="social-lnkd"
                                    href="course-with-filter.html#"><i class="fa-brands fa-linkedin-in"></i></a> <a
                                    class="social-yout" href="course-with-filter.html#"><i
                                        class="fa-brands fa-youtube"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tp-footer-5-bottom tp-footer-inner-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tp-footer-copyright text-center"><span>© 1403<a
                                href="course-with-filter.html#">آکادیا</a>. تمامی حقوق محفوظ است.</span></div>
                </div>
            </div>
        </div>
    </div>
</footer>