{% extends 'user/base.html' %}
{% block title %}تغییر پسورد | آکادمی من {% endblock %}
{% block content %}
                    <div class="col-lg-9">
                        <div class="tpd-course-area">
                            <div class="tp-dashboard-tab mb-60">
                                <h2 class="tp-dashboard-tab-title">تنظیمات</h2>
                                <div class="tp-dashboard-tab-list">
                                    <ul>
                                        <li><a href="{% url 'user:profile' %}">مشخصات</a></li>
                                        <li><a class="active" href="{% url 'user:change-password' %}">رمز عبور</a></li>
                                        <li><a href="instructor-setting-withdraw.html">برداشت</a></li>
                                        <li><a href="instructor-setting-social.html">نمایه اجتماعی</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tpd-setting-box">
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-warning">{{ message }}</div>
                                {% endfor %}
                                {% endif %}
                                <form method="post" class="tpd-setting-password-content">
                                    {% for error in form.non_field_errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                    {% endfor %}

                                    {% csrf_token %}
                                    {% for field in form %}
                                    <div class="col-lg-8">
                                        <div class="tpd-input">
                                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                            {{ field }}
                                            {{ field.help_text }}
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="col-lg-8">
                                        <div class="tpd-setting-btn">
                                            <button>رمز عبور جدید را تنظیم کنید</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
{% endblock %}