{% extends 'user/base-auth.html' %}
{% block title %}فراموشی پسورد | آکادمی من{% endblock %}
{% block content %}
                        <div class="tp-login-from-heading text-center">
                            <h4 class="tp-login-from-title">پسورد اکانت خود را بازیابی کنید</h4>
                            <p>حساب کاربری دارید؟<a href="{% url 'user:login' %}">وارد شوید</a></p>
                        </div>
                        <form method="post"  class="tp-login-input-form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <div class="tp-login-input p-relative"><label>ایمیل یا تلفن</label>
                                        <input name="token" required placeholder="ایمیل یا شماره تلفن یا نام کاربری خود را تایپ کنید" type="text">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row">
                                        {% if msg %}
                                        <div class="col-12">
                                            {% if msg == 'user not found' %}
                                            <div class="alert alert-danger d-flex align-items-center text-start" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="max-width: 16px;max-height: 14px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                <div>نام کاربری/ایمیل/شماره تلفن اشتباه است.</div>
                                            </div>
                                            {% elif msg == 'please wait' %}
                                            <div class="alert alert-danger d-flex align-items-center text-start" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="max-width: 16px;max-height: 14px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                <div>ارسال کد در فاصله های 4 دقیقه پس از اخرین ارسال کد مجاز است.</div>
                                            </div>
                                            {% elif msg == 'ivalid captcha' %}
                                            <div class="alert alert-danger d-flex align-items-center text-start" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="max-width: 16px;max-height: 14px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                <div>کپچا را تایید کنید.</div>
                                            </div>
                                            {% elif msg == 'token failed' %}
                                            <div class="alert alert-danger d-flex align-items-center text-start" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="max-width: 16px;max-height: 14px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                    </svg>
                                                <div>نام کاربری/ایمیل/شماره تلفن اجباری است.</div>
                                            </div>
                                            {% elif msg == 'otp failed' %}
                                            <div class="alert alert-danger d-flex align-items-center text-start" role="alert">
                                                <svg xmlns="http://www.w3.org/2000/svg" style="max-width: 16px;max-height: 14px;" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                                    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                                </svg>
                                                <div>سیستم ارسال کد تایید مشکل دارد.</div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endif %}
                                        <div class="col-12">
                                            {{ recaptcha.recaptcha }}
                                        </div>
                                        <div class="col-6">
                                            <div class="tp-login-input-remeber text-start">
                                                <a href="{% url 'user:login' %}">وارد شوید</a>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="tp-login-input-remeber text-end">
                                                <a href="{% url 'user:register' %}">ثبت نام</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tp-login-from-btn">
                                        <button type="submit" class="tp-btn-inner w-100 text-center">ارسال کد</button>
                                    </div>
                                    <div class="tp-login-from-autor text-center">
                                        <p><span>تلفن پشتیبانی:</span>+989123456789</p>
                                        <p><span>ایمیل پشتیبانی:</span>test@gmail.com</p>
                                    </div>
                                </div>
                            </div>
                        </form>
{% endblock %}